* {box-sizing: border-box;
}

/*images*/
body{
    background-color: #fff0eb;
    
}

/*fonts*/
h1 {
    font-family: allura;
    font-size: 101px;
    color: black; 
    letter-spacing: 3px;
}
.title{
position: relative;
margin-top: 5px;
}
.title-image {
    position: relative;
    top: 0;
    bottom: 0;
}