* {box-sizing: border-box;
}

body{
    background-color: #fff0eb;
}

/*fonts*/
h1 {
    font-family: allura;
    font-size: 101px;
    color: black; 
    letter-spacing: 3px;
}

/*icon*/
.icon {
    padding: 10px;
}

.top-bar{
    padding-bottom: 30px;
}