
img{
    width: 100%;
}
.bush, .bush2, .bush3, .bush4, .bush5, .bush6, .bush7{
    background-color: transparent;
}

.bush{
    position: absolute;
    margin-top: -100px;
}
.bush2{
    position: absolute;
}
.bush3{
    position: absolute;
}
.bush4{
    position: absolute;
}
.bush5{
    position: absolute;
}
.bush6{
    position: absolute;
}
.bush7{
    position: absolute;
}
.main-iamge{
    position: relative;
    top: 0;
    left: 0;
}