*{
    background-color: cornsilk;
}
.svg {
    width: 100%;
    height: auto;
}
.svg path {
    fill: #000;
}
/* bounce */
@keyframes panda {
    0%   {transform: translateY(0)}
    25%  {transform: translateY(-25px)}
    75%  {transform: translateY(25px)}
    100% {transform: translateY(0)}
}

.panda {
    animation: panda 8s linear infinite;
}
 
/*dispearing*/
@keyframes foods {
    0%        {opacity: 0}
    15%, 70%  {opacity: 1}
    85%, 100% {opacity: 0}
}
  
.foods {
    animation: foods 3s ease infinite;
} 

.panda {
    animation-name: spinning-circle;
    animation-duration: 5s;
    animation-iteration-count:infinite;
}

@-webkit-keyframes spinning-circle{
    0%{
        -webkit-transform: rotate(0deg)
        transform: rotate (0deg);
        -webkid-transform-origin: 125% 125%;
        transform-origin:125% 125%;
    }
    100% {
        -webkit-transform: rotate(35deg);
        transform: rotate(35deg);
        -webkit-transform-origin: 125% 125%;
        transform-origin: 125% 125%;
      }
}